@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'RF Tone';
  src: local('RF Tone Bold'), local('RF-Tone-Bold'), url('RFTone/RFTone-Bold.woff2') format('woff2'), url('RFTone/RFTone-Bold.woff') format('woff'), url('RFTone/RFTone-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #686868;
  margin: 0;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #282828;
}
.intro {
  background: #282828;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro.hidden {
  display: none;
}
.preview {
  position: relative;
  display: block;
  width: 300px;
  height: 165px;
  cursor: pointer;
  transition: transform 0.3s linear, opacity 0.3s linear;
}
.preview.checked {
  opacity: 0;
  transform: scale(0);
}
.preview__suptitle {
  position: absolute;
  left: 0;
  top: -13px;
  color: #686868;
  font-size: 11px;
  font-weight: normal;
}
.preview__logo {
  margin-top: 38px;
  margin-left: 43px;
}
.preview__subtitle {
  position: absolute;
  top: 101px;
  left: 218px;
  display: block;
  width: 37px;
  height: 25px;
  color: #fff;
  font-size: 21.551px;
  font-weight: normal;
  text-align: right;
  line-height: 25px;
}
.forms {
  background: linear-gradient(180deg, rgba(40, 40, 40, 0.8) 11.34%, rgba(40, 40, 40, 0.2) 94.66%), linear-gradient(0deg, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.5)), url(../../img/bg.jpg) center no-repeat;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 916px;
  background-size: cover;
  -webkit-background-size: cover;
  display: flex;
}
.forms.hidden {
  display: none;
}
@media (max-width: 767px) {
  .forms {
    flex-direction: column;
    flex-wrap: wrap;
    background: #282828;
    width: 100%;
    height: auto;
    min-height: 320px;
  }
}
.forms__logo {
  margin-top: 300px;
  margin-left: 327px;
  margin-right: 483.17px;
  width: 161.83px;
  height: 48px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .forms__logo {
    margin: 30px auto;
  }
}
@media (max-width: 350px) {
  .forms__logo {
    margin: 20px auto;
  }
}
.form {
  position: relative;
  display: block;
  background: #fff;
  width: 516px;
  height: 729px;
  margin-top: 94px;
  box-shadow: 0px 4px 20px rgba(40, 40, 40, 0.2);
  border-radius: 4px;
  padding: 76px 48px 57px;
}
.form.hidden {
  display: none;
}
@media (max-width: 767px) {
  .form {
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .form {
    width: 100%;
    padding: 25px 10px;
    text-align: center;
  }
}
@media (max-width: 350px) {
  .form {
    padding: 15px 10px;
  }
}
.form__title {
  color: #282828;
  font-size: 32px;
}
.form__title.form_account__title {
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.01em;
}
.form__title.form_login__title {
  font-family: 'RF Tone', sans-serif;
  font-weight: bold;
  line-height: 38px;
}
@media (max-width: 575px) {
  .form__title.form_login__title {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .form__title.form_login__title {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .form__title {
    font-size: 26px;
  }
}
@media (max-width: 350px) {
  .form__title {
    font-size: 22px;
  }
}
.form__input {
  width: 420px;
  height: 56px;
  margin-bottom: 32px;
  border: 1px solid #EDEEF0;
  border-radius: 2px;
  padding-left: 16px;
  vertical-align: middle;
  background: #fff;
  color: #282828;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  outline: 0;
}
.form__input.form_account__input:last-of-type {
  margin-bottom: 42px;
}
.form__input.form_login__input:last-of-type {
  margin-bottom: 40px;
}
.form__input:hover {
  background: rgba(237, 238, 240, 0.1);
}
.form__input:focus {
  border-top: none;
  border-left: none;
  border-right: none;
}
.form__input:focus + .form__label {
  font-size: 14px;
  line-height: 20px;
  transform: translateY(-25px);
}
.form__input.filled {
  border-top: none;
  border-left: none;
  border-right: none;
}
@media (max-width: 575px) {
  .form__input {
    width: 100%;
  }
}
.form__label {
  position: absolute;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #686868;
  transition: transform 0.1s linear;
}
.form__label.form_account__label_name {
  top: 219px;
  left: 64px;
}
@media (max-width: 575px) {
  .form__label.form_account__label_name {
    top: 150px;
    left: 26px;
  }
}
@media (max-width: 350px) {
  .form__label.form_account__label_name {
    top: 140px;
  }
}
.form__label.form_account__label_email {
  top: 307px;
  left: 64px;
}
@media (max-width: 575px) {
  .form__label.form_account__label_email {
    top: 238px;
    left: 26px;
  }
}
@media (max-width: 350px) {
  .form__label.form_account__label_email {
    top: 228px;
  }
}
.form__label.form_account__label_password {
  top: 395px;
  left: 64px;
}
@media (max-width: 575px) {
  .form__label.form_account__label_password {
    top: 325px;
    left: 26px;
  }
}
@media (max-width: 350px) {
  .form__label.form_account__label_password {
    top: 315px;
  }
}
.form__label.form_login__label_email {
  top: 219px;
  left: 64px;
}
@media (max-width: 575px) {
  .form__label.form_login__label_email {
    top: 150px;
    left: 26px;
  }
}
@media (max-width: 350px) {
  .form__label.form_login__label_email {
    top: 140px;
  }
}
.form__label.form_login__label_password {
  top: 307px;
  left: 64px;
}
@media (max-width: 575px) {
  .form__label.form_login__label_password {
    top: 238px;
    left: 26px;
  }
}
@media (max-width: 350px) {
  .form__label.form_login__label_password {
    top: 228px;
  }
}
.form__label.changed {
  font-size: 14px;
  line-height: 20px;
  transform: translateY(-25px);
}
.form_login__text {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 34px;
}
.form-subtitle {
  color: #686868;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 46px;
}
.form-subtitle.form_account-subtitle {
  margin-top: 14px;
}
.form-subtitle.form_login-subtitle {
  margin-top: 16px;
}
@media (max-width: 575px) {
  .form-subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
@media (max-width: 350px) {
  .form-subtitle {
    font-size: 12px;
  }
}
.btn {
  height: 48px;
  padding: 15px 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.02em;
  background: #E0431E;
  border: 0;
  border-radius: 2px;
  outline: 0;
}
.btn.form_account__btn {
  width: 223px;
  float: right;
}
.btn.login-form-objects__btn {
  width: 198px;
}
@media (max-width: 350px) {
  .btn.login-form-objects__btn {
    width: 150px;
  }
}
.btn:disabled {
  color: #686868;
  background: #EDEEF0;
}
.btn:focus {
  background: #E0431E;
  color: #fff;
}
.btn:hover,
.btn:active {
  background: linear-gradient(0deg, rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 0.1)), #E0431E;
  color: #fff;
}
.form_login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 48px;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.02em;
  background: #597DA3;
  border: 0;
  border-radius: 2px;
  outline: 0;
}
.form_login-btn_vk {
  background: #597DA3;
  margin-bottom: 16px;
}
.form_login-btn_vk:hover,
.form_login-btn_vk:active {
  background: linear-gradient(0deg, rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 0.1)), #597DA3;
}
.form_login-btn_vk:focus {
  border: 1px solid rgba(40, 40, 40, 0.2);
}
.form_login-btn_fb {
  background: #3B5998;
  padding-top: 4px;
  margin-bottom: 0;
}
.form_login-btn_fb:hover,
.form_login-btn_fb:active {
  background: linear-gradient(0deg, rgba(40, 40, 40, 0.1), rgba(40, 40, 40, 0.1)), #3B5998;
}
.form_login-btn_fb:focus {
  border: 1px solid rgba(40, 40, 40, 0.1);
}
@media (max-width: 575px) {
  .form_login-btn {
    width: 100%;
  }
}
.vk__icon,
.fb__icon {
  margin-right: 8px;
}
.link {
  color: #E0431E;
  text-decoration: none;
  margin-left: 5px;
}
.link:hover,
.link:active,
.link:focus {
  color: #CE4221;
}
.link.user-agreement__link {
  margin-left: 0;
}
.link.login-form-objects__link {
  margin-left: 0;
  line-height: 24px;
}
@media (max-width: 350px) {
  .link.login-form-objects__link {
    font-size: 12px;
  }
}
.user-agreement {
  display: flex;
  position: relative;
  height: 72px;
  line-height: 24px;
  margin-bottom: 78px;
}
.user-agreement:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #EDEEF0;
  position: absolute;
  top: 110px;
}
@media (max-width: 575px) {
  .user-agreement:after {
    top: 100px;
  }
}
@media (max-width: 575px) {
  .user-agreement {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 350px) {
  .user-agreement {
    font-size: 12px;
  }
}
.user-agreement__checkbox {
  display: none;
}
.user-agreement__checkbox:checked + .user-agreement__label:before {
  border: 1px solid #E0431E;
}
.user-agreement__checkbox:checked + .user-agreement__label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 6px;
  height: 12px;
  background: #fff;
  border-top: 2px solid #E0431E;
  border-left: 2px solid #E0431E;
  transform: rotate(-135deg);
}
.user-agreement__label {
  position: relative;
  color: #E0431E;
  cursor: default;
  font-weight: normal;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  padding: 0;
  vertical-align: middle;
}
.user-agreement__label:hover:before {
  border: 1px solid #E0431E;
}
.user-agreement__label:before {
  content: " ";
  color: #E0431E;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #EDEEF0;
  border-radius: 2px;
  vertical-align: middle;
}
.login-form-objects {
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}
.login-form-objects:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #EDEEF0;
  position: absolute;
  top: 88px;
}
@media (max-width: 575px) {
  .login-form-objects {
    justify-content: space-around;
  }
}
